.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  
}

.main h1 {
  letter-spacing: 0.6rem;
  font-size: 3.2rem;
}
